* {
  box-sizing: border-box;
}
body {
  background-color: #888;
  font-size: 14px;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
}


@import "block/title.css";
@import "block/news.css";
@import "block/normalize.css";